<div ngClass="page">
  <div>
    <app-nav-bar></app-nav-bar>
  </div>
  <div *ngIf="product">

    <div class="">
      <div class="left-icon">
        <div *ngFor="let image of product.imagesUrl">
          <img class="imgSpec" onclick="document.getElementById('img-holder').style" src="{{image}}" id="left-circle">
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div id="img-holder"></div>
        </div>
        <div class="column2">
          <br />
          <h2>{{product.name}}</h2>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <p>
            {{product.shortDescription}}
          </p>

          <div class="row">
            <br />
            <br />
            <br />
            <br />
            <br /><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="col-5 ml-3">
              <i class="fa fa-user"></i> {{product.userName}}
            </div>
            <div class="col-5 ml-3">
              <h3 class="">{{product.price}} $</h3>
            </div>
          </div>
          <i class="fa fa-map-marker ml-3" aria-hidden="true"></i> {{product.address}}
          <div class="mt-1">
            <a href="{{product.whatsappUrl}}"><img src="assets/images/icons/whatsapp.png" alt="image"
                style="width: 16%; height: 16%;"></a>
            <a href="{{product.telegramUrl}}"><img src="assets/images/icons/telegram.png" alt="image"
                style="width: 13%; height: 13%;"></a>
            <a href="{{product.facebookUrl}}"><img src="assets/images/icons/facebook.png" alt="image"
                style="width: 13%; height: 13%;"></a>
          </div>
        </div>

        <div class="tags">
          <p>Laptops</p>
        </div>
        <div class="tags">
          <p>Laptops</p>
        </div>
        <div class="tags">
          <p>Laptops</p>
        </div>
        <div class="tags">
          <p>Laptops</p>
        </div>

      </div>
    </div>

    <div class=" specRow">
    </div>

    <div class="row">
      <div>
        <h3 class="descTitle">Description</h3>
        <p class="desc">
          {{product.longDescription}}
        </p>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>