.page {
  overflow: hidden;
}

.imgSpec {
  filter: opacity(55%);
  object-fit: contain;
}

.imgSpec:hover {
  filter: opacity(100%);
  cursor: pointer;
}

.imgSpec.selected {
  filter: opacity(100%);
}

.left-icon {
  display: inline-block;
  float: left;
  height: auto;
  width: 13%;
  margin-left: 22px;
  margin-top: 30px;
}

.left-icon > div {
  margin-bottom: 15px;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

#left-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .main {
    max-width: 100%;
    margin: 0;
  }
  .left-icon {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    margin-bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .left-icon > div {
    margin-bottom: 0;
  }
  #left-circle {
    height: 200px;
    width: 200px;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    bottom: 0;
  }
}

.column {
  float: left;
  width: 43%;
  height: 100vh;
  margin-top: 20px;
  margin-left: -65px;
}

.column2 {
  float: left;
  width: 37%;
  height: 90vh;
  justify-content: center;
  margin-top: 27px;
  margin-left: 280px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 90vh;
    margin-bottom: 10px;
    right: 0;
    left: 0;
    top: 0;
  }
  p2 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  li {
    font-size: 1em;
  }
  .icon-box {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .price-button {
    margin-top: 40px;
  }
}
.row:after {
  content: "";
  display: table;
}
.img-holder {
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 750px;
  border-radius: 15%;
  object-fit: contain;
}
.price-text{
  width: 150px;
}
li {
  font-size: 0.7em;
  margin-bottom: 10px;
}
.icon-box {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100%;
  margin-top: 10px;
}
.icon-box > div {
  width: 33.33%;
  height: inherit;
}
#flex-icon {
  width: 100%;
  height: 100%;
}

.tags {
  margin-left: 10px;
  background-color: #beb7b7;
  width: 70px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.specRow {
  background-color: cadetblue;
  position: relative;
  top: -50px;
  width: 96%;
  height: 0.5px;
  margin-left: 28px;
}

.descTitle {
  margin: 5px 34px 34px;
}
.desc {
  margin-left: 39px;
  margin-right: 39px;
  margin-top: -5px;
}
.username {
  text-decoration: none;
  color: #8296d9;
  font-weight: bolder;
}
.short-description {
  height: 230px;
}
.tag {
  border-radius: 50px;
  background-color: #beb7b7;
  width: auto;
  max-width: 120px;
  border-width: 0;
  margin-left: 20px;
  margin-top: 15px;
  outline: none;
  color: #f5f5f5;
  font-family: "Segoe UI", serif;
  font-size: 18px;
  font-weight: bolder;
}
