<div ngClass="page">

  <div>
    <app-nav-bar></app-nav-bar>
  </div>

  <div class=" row txt6">
    <div class="col-md-4">
      <strong>{{lengthProducts}}</strong> results for "<strong>{{categoryName}}</strong>"
    </div>
    <div class="col-md-4">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;
      &nbsp;
      Tags:&nbsp;
      <select class="custom-select mb-3" (change)="onTagSelected($event)">
        <option *ngFor="let item of productsTags" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;
      &nbsp;
      Sort by:&nbsp;
      <select class="custom-select mb-3" (change)="onSortSelected($event)">
        <option [value]="1">ByNewest</option>
        <option [value]="2">ByLowerPrice</option>
        <option [value]="3">ByHigherPrice</option>

      </select>
    </div>

  </div>

  <section class="wrapper">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of products">
        <div class="card-sl">
          <div class="card-image">
            <img src="{{item.imageUrl}}" style="width: 400px; height: 200px;" />
          </div>
          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            <a routerLink="/productDetail/{{item.id}}"> {{item.name}}</a>
          </div>
          <div class="card-text">
            {{item.shortDescription}}
          </div>
          <div class="card-heading">
            {{item.price}} $
          </div>
          <div>
            <div class="card-text">
              <i class="fa fa-user" aria-hidden="true"></i>
              <a routerLink="/productDetail/{{item.id}}"> {{item.username}}</a>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              <i class=" fa fa-map-marker" aria-hidden="true"></i>
              {{item.address}}
              &nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              &nbsp;
              <i class="fa fa-star" aria-hidden="true"></i>
              4.7
              (33)
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <nav class="d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <br />

  <app-footer></app-footer>

</div>