<div ngClass="page">

  <div>
    <app-nav-bar></app-nav-bar>
  </div>

  <div class=" row txt6">
    <div class="col-md-4" >
      <strong>{{pagination.totalItems}}</strong> results for "<strong>{{categoryName}}</strong>"
    </div>
    <div class="col-md-4">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;
      &nbsp;
      Tags:&nbsp;
      <select class="custom-select mb-3" (change)="onTagSelected($event)">
        <option *ngFor="let item of productsTags" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;
      &nbsp;
      Sort by:&nbsp;
      <select class="custom-select mb-3" (change)="onSortSelected($event)">
        <option [value]="1">ByNewest</option>
        <option [value]="2">ByLowerPrice</option>
        <option [value]="3">ByHigherPrice</option>

      </select>
    </div>

  </div>

  <section class="wrapper">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of products;let indexOfelement=index;">
        <div class="card-sl">
          <div class="card-image">
            <img src="{{item.imageUrl}}" style="width: 400px; height: 200px;" />
          </div>
          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            <a routerLink="/productDetail/{{item.id}}"> {{item.name}}</a>
          </div>
          <div class="card-text">
            {{item.shortDescription}}
          </div>
          <div class="card-heading">
            {{item.price}} $
          </div>
          <div>
            <div class="card-text">
              <i class="fa fa-user" aria-hidden="true"></i>
              <a routerLink="/profile/{{item.username}}"> {{item.username}}</a>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              <i class=" fa fa-map-marker" aria-hidden="true"></i>
              {{item.address}}
              &nbsp;
              &nbsp;
              &nbsp;&nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              <i class="fa fa-star" aria-hidden="true"></i>
              {{this.productsUsersRatesAvg[indexOfelement]}}
              ({{this.productsUsersRatesCount[indexOfelement]}})
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="d-flex justify-content-center" *ngIf="pagination">
 
    <pagination class="pagination" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="pagination.totalPages" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" ></pagination>
  </div>
  <br />

  <app-footer></app-footer>

</div>