.new_footer_area {
  background: #221e3a;
  color: #fff;
}
.new_footer_area .footer_bottom {
  padding-top: 2px;
  padding-bottom: 1px;
}
.footer_bottom {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 23px 0px;
}

a {
  text-decoration: none;
  color: white;
}

.left {
  float: left;
}
.right {
  float: right;
}

@media (max-width: 767px) {
  .new_footer_area {
    display: none;
  }
}
