<footer class="new_footer_area bg_color">
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p class="mb-2 mt-2 f_400">All Rights Reserved PTATA Group © 2021-2022.</p>
        </div>
        <div class="col-lg-6 col-sm-7 text-right">
          <p class="col-6 mb-2 mt-2" >
            <a href="#">Home</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
