#container {
    width: 100%;
    height: 80px;
    clear: both;
    position: absolute;
    background-color: #f7f7fa;
}

#part2 {
    width: 100%;
    height: 50px;
    background-color: #221e3a;
    bottom: 0;
    clear: both;
    position: absolute;
    margin-top: auto;
}

#txt6 {
    color: white;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;
}

#txt7 {
    color: white;
    position: absolute;
    left: 80%;
    top: 13px;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    #txt6 {
        position: absolute;
        left: 3%;
    }
    #txt7 {
        position: absolute;
        left: 71%;
    }
}

@media only screen and (max-width: 695px) {
    #txt6 {
        position: absolute;
        left: 30000%;
    }
    #txt7 {
        position: absolute;
        left: 7100000%;
    }
    #part2 {
        background-color: #fff;
    }
}
