<footer class="new_footer_area bg_color">
  <div class="footer_bottom">
    <div class="row align-items-center">
      <div class="left">
      </div>
      <div class="textbox mt-1">
        <p class="left mt-2 f_400">
          &nbsp; All Rights Reserved PTATA Group © 2021-2022. </p>
        <p class="right mt-2 f_400">
          <a href="#"> Home</a> | <a href="#">Privacy</a> | <a href="#">Contact Us </a>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</footer>
<div style="clear: both;"></div>
