@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255,255,255,.35);
$fontColor: rgb(250,250,250);

.profile-pic {
  color: transparent;
  width: 165px;
  height: 180px;
  transition: all .3s ease;
  @include object-center;
  position: relative;
  transition: all .3s ease;

  input {
    display: none;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: $circleSize;
    height: $circleSize ;
    box-shadow: $shadow;
    border-radius: $radius;
    z-index: 0;
  }

  .-label {
    cursor: pointer;
    height: $circleSize;
    width: $circleSize;
  }

  &:hover {
    .-label {
      @include object-center;
      background-color: rgba(0,0,0,.6);
      z-index: 10000;
      color: $fontColor;
      transition: background-color .2s ease-in-out;
      border-radius: $radius;
      margin-bottom: 0;
    }
  }

  span{
    display: inline-flex;
    padding: .2em;
    height: 2em;
    margin-top: 10px;
  }
  i{
    display: inline-flex;
    padding: .2em;
    height: 2em;
    margin-top: 10px;
  }
}
.update-image{
  margin-bottom: 10px;
}
/////////////////////////
// Body styling 🐾
/////////---------->

body {
  height: 100vh;
  background-color: rgb(25, 24, 21);
  @include object-center;

  a:hover {
    text-decoration: none;
  }
}
.fullName{
  font-family: "Segoe UI", serif;
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: left;
  width: 165px;
  padding: 0;

}
.label-location{
  font-family: "Segoe UI", serif;
  font-size: 14px;
  margin-left: 5px;
}
.label-location-value{
  font-family: "Segoe UI", serif;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.left-side{
  width: 165px;
  height: 350px;
  text-align: center;
  margin-top: 15px;
  margin-left: 70px;
}
.user-info-left{
  position: relative;
  left: -50px;
  width:  280px;
}
.user-contact-info{
  margin-top: 25px;
  margin-left: 15px;
  width: 210px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
}
.contact-info{
  width: auto;
  height: 60%;
}
.contact-info-whatsapp{
  width: auto;
  height: 55%;
}
.about-me-label{
  font-family: "Segoe UI", serif;
  font-size: 35px;
  margin-top: 15px;
}
.about-me-value{
  font-family: "Segoe UI", serif;
  font-size: 20px;
}
.middle-side{
  margin-left: 150px;
  width: 900px;
}
body {
  background-color: #eee
}

.badge {
  font-size: 25px;
  font-weight: 200;
  width:80px;
}

.badge i {
  font-size: 20px;
  font-weight: 200;
}

.about-rating {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  width:80px;
}

.total-ratings {
  font-size: 12px;
  width:80px;
}

.bg-custom {
  background-color: #b7dd29 !important;
}

.progress {
  margin-top: 13px;
}
.rate-info {
  margin-top: 5px !important;
  position: relative;
  left: -25px;
}
.main-div{
  height: auto;
  font-family: "Segoe UI", serif;
}
.rating-num{
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
}
.rating-radio{
  padding: 0;
}
.rating-div{
  width: 100px;
  margin: 5px 0 0;
}
.progress-col{
  margin-right:35px;
  margin-top:13px;
  padding-left: 0;
}
.full-page{
  width: auto;
  overflow-x: hidden;
}
.ratings{
  padding-right: 0;
}
.rating-col{
  margin: 17px 0 0;
  width: 90px;
}
.username{
  font-family: "Segoe UI", serif;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 165px;
  color: #586069;
  position: relative;
  bottom: 5px;
}
.gender-image{
  height: auto;
  width: 36px;
  padding: 0 ;
  position: relative;
  bottom: 7px;
  right: 10px;
}
.name-with-gender{
  width: 220px;
  margin-left: 10px;
}
.right-side{
  width: 40px;
}
.setting-icon{
  position: relative;
  left: 10px;
  top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}
.setting-link{
  text-decoration: none;
}
.report-user-button{
  position: relative;
  left: 60px;
  bottom: 15px;
  font-family: "Segoe UI", serif;
  font-size: 17px;
  width: 130px;
}
.report-dialog{
  width: 300px;
  height: 80px;
}
.report-string-input{
  width: 250px;
  height: 60px;

}


.wrapper {
  min-height: 300px;
  min-width: 300px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-right: 15px;
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  color: #221E3A;
  background: #fff;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #221E3A;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;

}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
  height: 60px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

.pagination {
  text-align: center;
  margin: 10px auto 0;
}

.delete-button{
  font-family: "Segoe UI", serif;
  font-size: 18px;
  align-content: center;
  width: 100%;
}
.product-line{
    background-color: cadetblue;
    position: relative;
    width: 96%;
    height: 0.5px;
    margin-left: 28px;
}
.descTitle{
  margin: 15px 34px 0px;
  text-align: center;
}
.user-products-div{
margin-top: 50px;
}

.shortDesc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.add-button{
  width: 120px;
  position: relative;
  left:89vw;
  bottom: 38px;
}
.delete-product-string{
  font-family: "Segoe UI", serif;
  font-size: 18px;
}
.no-products{
  width: 100%;
  height: 150px;
}
.no-products-label{
  font-family: "Segoe UI", serif;
  font-size: 30px;
  color: gray;
  width: 99.5%;
  padding: 10px 0;
  text-align: center;
  align-items: center;
  align-content: center;
}

