.register-div {
  margin-left: 100px;
  margin-top: 30px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
  min-height: 70vh;
}
.form-control{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width:400px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
}
.register{
  border-radius: 50px;
  background-color: #3A3652;
  width:90px;
  border-width: 0;
  margin-top: 20px;
  position: relative;
  bottom: 25px;
}
.register-done{
  border-radius: 50px;
  background-color: #3A3652;
  width:90px;
  border-width: 0;
  margin-top: 10px;
}
.registerImage{
  width: 400px;
  height: auto;

}
.login{
  margin-top: 17px;
  position: relative;
  bottom: 32px;
}
.login-link{
  color: #3A3652;
  font-weight: bold;
}
.login-link:hover{
  text-decoration:none;
}
.form-check-label{
  padding-top: -10px;

}
@media (max-width: 930px) {
  .registerImage {
    display: none;
  }
}
.no-select-with-text {
  color: transparent;
  text-shadow: 0 0 0 #000000;
  user-focus: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  &:focus {
    outline: none;
  }
}
.no-select {
  color: transparent;
  text-shadow: 0 0 0 #000000;
  user-focus: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  &:focus {
    outline: none;
  }
}
.show-hide-password{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width:40px;
  position: relative;
  right: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: transparent;
}
.fa-eye{
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.9) !important;
}
.fa-eye-slash{
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5) !important;
}
.input-password {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width: 400px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
  position: relative;
  left: 12px;
}
.div-password{
  display:flex;
  flex-wrap:nowrap;
}
.tip-for-password{
  position: relative;
  color: #000000;
  font-family: "Segoe UI", serif;
  font-size: 12px;
  left:8px
}
.password-tips{
  font-family: "Segoe UI", serif;
  font-size: 13px;
  width:400px;
  position: relative;
  right:10px;
}
.password2-tips{
  font-family: "Segoe UI", serif;
  font-size: 13px;
  width:450px;
  position: relative;
  left:7px;
  top: 8px;
}
.username-tips{
  font-family: "Segoe UI", serif;
  font-size: 13px;
  width:450px;
  position: relative;
  left: 3px;
  top: 2px;
  padding-bottom: 5px;
}
.username-tips-text{
  position: relative;
  right: 12px;
}
.password2-tips-text{
  position: relative;
  right: 7px;
}
.input{
  border-color: initial;
}
.has-error{
  border-color: red !important;
  box-shadow: none !important;
}
.fa-check{
  position: relative;
  color: #3ec706;
  font-size: 17px;
  font-weight: 200;
  left:5px;
}
.fa-close{
  position: relative;
  color: red;
  font-size: 17px;
  font-weight: 200;
  left: 5px;
}
.col-sm-6{
  position: relative;
  right: 10px;
}
.col-sm-3{
  position: relative;
  right: 10px;
}
.error-tip{
  color: red;
}
.good-tip{
  color: #3ec706;
}
.shadow-tip{
  opacity: 0.7 ;
  color:black ;
}
.username-available-tips{
  position: relative;
}
.div-password2{
  display:flex;
  flex-wrap:nowrap;
  position: relative;
  top: 5px;
  right: 1px;
}
.password-conditions{
  position: relative;
  left:5px;
}
.to-be-hidden{
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  height: 1px;
  width: 1px;
}
.input-name{
  width: 195px;
}
.input-name-div{
  position: relative;
  width: 430px;
  left: 2px;
}
.gender-div{
  font-family: "Segoe UI", serif;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 7px;
  position: relative;
  left: 8px;

}
.main-div{
  width: auto;
  height: auto;
  overflow-x: hidden;
}
