<div ngClass="page">
  <div>
    <app-nav-bar></app-nav-bar>
    <app-categories-nav-bar></app-categories-nav-bar>
  </div>
  <section class="container-carousel">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let img of vipAds">
        <div class="picsum-img-wrapper">
          <img src="{{img.imageUrl}}" height="300" width="100%" style="object-fit: cover;">
        </div>
      </ng-template>
    </ngb-carousel>
  </section>

  <section class="wrapper">

    <div class="row text-center">
      <div class="col-sm-3 mt-2 text-center" *ngFor="let category of categories">
        <div class="card text-white card-has-bg click-col" style="background-image:url('{{category.imageUrl}}');" routerLink="/products/{{category.id}}">
          <img class="card-img d-none" src="{{category.imageUrl}}" routerLink="/products/{{category.id}}">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body align-items-center d-flex justify-content-center">
              <h4 class="card-title mt-0 "><a class="text-white category-link" routerLink="/products/{{category.id}}">
                  {{category.name}}</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
