<div class="main-div">
  <app-nav-bar></app-nav-bar>
  <app-categories-nav-bar></app-categories-nav-bar>
  <div class="login-div">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <h2 class ="login-header no-select-with-text">Login</h2>
          <div class="form-group ">
            <label for="InputOldPassword" class="no-select"  disabled></label>
            <div class="row div-password" ><input [type]="showPassword? 'text' :'password'" [class]="emptyOldPassword ?'form-control input-password has-error':'form-control input-password'" id="InputOldPassword"  formControlName="InputOldPassword" placeholder="Enter Your Old Password" (input)="onOldPasswordChange($event)">
              <button  type="button" [class]="showOldPassword ? 'fa fa-eye show-hide-password no-select' : 'fa fa-eye-slash show-hide-password no-select'" (click)="toggleShowOldPassword()" tabindex="-1">
            <label for="InputPassword" class="no-select" hidden></label>
            <div class="row div-password"><input [type]="showPassword? 'text' :'password'"
                                                 [class]="emptyPassword ?'form-control input-password has-error':'form-control input-password'"
                                                 id="InputPassword" formControlName="InputPassword"
                                                 placeholder="Password" (input)="onPasswordChange($event)">
              <button type="button"
                      [class]="showPassword ? 'fa fa-eye show-hide-password no-select' : 'fa fa-eye-slash show-hide-password no-select'"
                      (click)="toggleShow()" tabindex="-1">
              </button>
            </div>
            <div class="tip-for-password">
              <div class="container">
                <div class="row password-tips " [class.shadow-tip]="emptyPasswordAfterModify">
                  <span class="password-conditions">Password conditions:</span>
                  <div class="col-sm-1"><i [class]="isPasswordMinimumLengthGood ? 'fa fa-check':'fa fa-close'"
                                           [hidden]="emptyPasswordAfterModify"></i></div>
                  <div class="col-sm-5" [class.good-tip]="isPasswordMinimumLengthGood"
                       [class.error-tip]="!isPasswordMinimumLengthGood  && !emptyPasswordAfterModify">minimum length of
                    6.
                  </div>
                  <div class="col-sm-1"><i [class]="isPasswordAtLeastOneDigit ? 'fa fa-check':'fa fa-close'"
                                           [hidden]="emptyPasswordAfterModify"></i></div>
                  <div class="col-sm-5 " [class.good-tip]="isPasswordAtLeastOneDigit"
                       [class.error-tip]="!isPasswordAtLeastOneDigit && !emptyPasswordAfterModify">at least one digit.
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-1"><i [class]="isPasswordAtLeastOneUppercase ? 'fa fa-check':'fa fa-close'"
                                           [hidden]="emptyPasswordAfterModify"></i></div>
                  <div class="col-sm-5" [class.good-tip]="isPasswordAtLeastOneUppercase"
                       [class.error-tip]="!isPasswordAtLeastOneUppercase  && !emptyPasswordAfterModify">at least one
                    uppercase.
                  </div>
                  <div class="col-sm-1"><i [class]="isPasswordAtLeastOneLowercase ? 'fa fa-check':'fa fa-close'"
                                           [hidden]="emptyPasswordAfterModify"></i></div>
                  <div class="col-sm-5" [class.good-tip]="isPasswordAtLeastOneLowercase"
                       [class.error-tip]="!isPasswordAtLeastOneLowercase  && !emptyPasswordAfterModify">at least one
                    lowercase.
                  </div>
                </div>
              </div>
            </div>
            <label for="InputPassword2" class="no-select" hidden></label>
            <div class="row div-password2"><input [type]="showPassword? 'text' :'password'"
                                                  [class]="emptyPassword2 ?'form-control input-password has-error':'form-control input-password'"
                                                  id="InputPassword2" formControlName="InputPassword2"
                                                  placeholder="Confirm Password" (input)="onPassword2Change($event)">
            </div>
            <div class="row  password2-tips" [hidden]="emptyPassword2AfterModify">
              <div class="col-sm-1 "><i [class]="isPassword2Matches ? 'fa fa-check':'fa fa-close'"
                                        [hidden]="emptyPassword2AfterModify"></i></div>
              <div class="col-sm-11 password2-tips-text" [class.good-tip]="isPassword2Matches"
                   [class.error-tip]="!isPassword2Matches && !emptyPassword2AfterModify">Passwords matches.
              </div>
              <div class="w-100"></div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary login">Login</button>
          <div class="register">
            <p class="no-select-with-text">Doesn't have account? <a routerLink="/register" class="register-link">Register</a></p>
          </div>
        </div>
        <div class="col">
          <img class="loginImage no-select-with-text" [src]="imageToShow"
               alt="Place image title">
        </div>
      </div>
    </form>
  </div>

  <app-footer></app-footer>
</div>
