.login-div {
  margin-left: 100px;
  margin-top: 30px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
  min-height: 70vh;
}
.form-control{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width:400px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
}
.login{
  border-radius: 50px;
  background-color: #3A3652;
  width:90px;
  border-width: 0;
}
.loginImage{
  width: 400px;
  height: auto;

}
.register{
  margin-top: 17px;
}
.register-link{
  color: #3A3652;
  font-weight: bold;
}
.register-link:hover{
  text-decoration:none;
}
.form-check-label{
  padding-top: -10px;

}
@media (max-width: 930px) {
  .loginImage {
    display: none;
  }
}
.login{
  margin-top: 10px;
}
.no-select-with-text {
  color: transparent;
  text-shadow: 0 0 0 #000000;
  user-focus: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  &:focus {
    outline: none;
  }
}
.no-select {
  color: transparent;
  text-shadow: 0 0 0 #000000;
  user-focus: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  &:focus {
    outline: none;
  }
}
.show-hide-password{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width:40px;
  position: relative;
  right: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: transparent;
}
.fa-eye{
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.9) !important;
}
.fa-eye-slash{
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5) !important;
}
.input-password {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 50px;
  width: 400px;
  font-family: "Segoe UI", serif;
  font-size: 18px;
  position: relative;
  left: 12px;
}
.div-password{
  display:flex;
  flex-wrap:nowrap;
}
.error-for-password{
  color: #ff0000;
  font-family: "Segoe UI", serif;
  font-size: 15px;
}
.input{
  border-color: initial;
}
.has-error{
border-color: red !important;
box-shadow: none !important;
}
