.navbar{
  background-color: #221E3A;
}
.navbar .navbar-nav .nav-link {
  color: aliceblue;
}
.navbar-brand{
  color: aliceblue;
}
.search-input{
  border-radius: 50px;
}
.dropdown-item {
  color: #FFFFFF;
}
.navbar-toggler{
  color: #FFFFFF;
}
